<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="main-header">
    <ion-label>Nos forfaits</ion-label>
  </div>
  <!-- Résulat -->
  <ion-card class="">
    
      <ion-grid *ngFor="let operator of operateurs">
        <ion-row>
          <ion-col size="12">
            <ion-label>Chez {{operator}} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let forfait of forfaits">
          <ion-col *ngIf="forfait.operateur === operator"> {{forfait.nom}} </ion-col>
          <ion-col *ngIf="forfait.operateur === operator"> {{forfait.sms}} </ion-col>
          <ion-col *ngIf="forfait.operateur === operator"> {{forfait.appel}} </ion-col>
          <ion-col *ngIf="forfait.operateur === operator && forfait.data > 1"> {{forfait.data}} Go</ion-col>
          <ion-col *ngIf="forfait.operateur === operator && forfait.data < 1"> {{forfait.data * 1000}} Mo </ion-col>
          <ion-col *ngIf="forfait.operateur === operator"> {{forfait.prix}} </ion-col>
        </ion-row>
       
      </ion-grid>
  
  </ion-card>
</ion-content>
