ion-header{
    background: transparent;
}
ion-toolbar{
    background: transparent;
    text-align: center;
}
.main-header {
  height: 45vh;
  width: 150%;
  background: black;
  box-shadow: 0 1px 10px white;
  border-radius: 0 0 50% 50%;
  margin-left: -11vh;
  margin-top: -60px;
}
@media only screen and (min-width: 375px){
    .container-form {
        margin-top: -265px !important;
        transform: translateY(10vh) !important;
        padding-bottom: 2vh !important;
      }
}
@media only screen and (min-width: 412px){
    .container-form {
        margin-top: -376px !important;
        transform: translateY(10vh) !important;
        padding-bottom: 2vh !important;
      }
}
.container-form {
  margin-top: -376px;
  transform: translateY(10vh);
  padding-bottom: 2vh;
}
.result {
  margin-top: 105px;
  padding-bottom: 2vh;
}
.logo{
    margin-top: -376px; 
}
.form {
  padding: 30px 21px 8px 21px;
}
.item {
  // background-color: #2196f3;
  // border-radius: 18px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin-bottom: 26px;
  margin-top: 8px;
  box-shadow: 0 10px 30px rgba(57, 71, 82, 0.23);
}
ion-input {
  width: 90%;
  // margin-left:1px;
}
ion-label {
  font-size: larger;
  color: #607d8b !important;
  font-weight: bold;
}
ion-icon {
  margin-left: -7px;
  font-size: unset;
}
span {
  color: #8487888f;
}
img {
  max-width: 10%;
}
ion-card-title{
  margin-left: 5px;
  margin-top: 3px;
  text-decoration: underline;
}
